<head>
<title>: Because I can</title>
<style type="text/css" media="screen">
body { font-family: Verdana; background-color: black; color: white; }
h1, p { text-align: center; }
h3 { display: inline; }
a, a:link, a:visited { color: white; }
</style>
</head>
<body>
<br><br><br>
<h1>Your are being watched.</h1>
<p>
<b>You are using the following browser and OS</b><br />
<b>{{ user_agent }}</b><br />
<br>
<b>IP Address= {{ ip }}</b><br />
</p>
<center><h2>Have a good day.</h2></center>
<center><h3></h3></center>
<p><A HREF= "https://www.musclewiki.com/">Muscle Wiki</A></p>
<p><A HREF= "https://www.eff.org/">EFF</A></p>
<p><A HREF= "https://ssd.eff.org/en">Surveillance Self-Defense</A></p>
<p><A HREF= "https://panopticlick.eff.org/">Panopticlick Tracking Analyzer</A></p>
<p><A HREF= "https://www.amtrak.com/track-your-train.html">Amtrak Track A Train</A></p>
<p><A HREF= "https://everything2.com/title/Management+Techniques+of+the+Bottom+95%2525+of+U.S.+Corporations">Management Techniques</A></p>
<p><A HREF= "https://heritageunits.com/">Heritage Units</A></p>
<p><A HREF= "https://www.trainorders.com/">Train Orders</A></p>
<p><A HREF= "https://www.youtube.com/channel/UC6RIkXobtXWJElbwEHIC-sg">Tehachapi Live Train Cams</A></p>
<p><A HREF= "https://www.youtube.com/channel/UCOIkT9bq-1N2BvrsBjhNlag">Virtual Railfan</A></p>
<p><A HREF= "https://www.worldometers.info/">Worldometer</A></p>
<p><A HREF= "https://villains.fandom.com/wiki/Rabbit_of_Caerbannog">Rabbit of Caerbannog</A></p>
<p><A HREF= "https://cultofthepartyparrot.com/">Cult of the Party Parrot</A></p>
<p><A HREF= "https://www.propublica.org/">ProPublica</A></p>
<p><A HREF= "http://www.fark.com/">Fark</A></p>
</p>
</body>
</html>
